# Виртуальное окружение
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных SQLite
db.sqlite3

# Статические файлы, собранные collectstatic
staticfiles/

# Логи и временные файлы
*.log
*.pid